version: 2
jobs:
  compile:
    docker:
      - image: circleci/golang:1.13
    steps:
      - checkout
      - restore_cache:
          keys:
            - go_mod-{{ checksum "go.mod" }}-{{ checksum "go.sum" }}
      - run: go get -t -v -d ./...
      - save_cache:
          key: go_mod-{{ checksum "go.mod" }}-{{ checksum "go.sum" }}
          paths:
            - /go/pkg/mod
      - run: CGO_ENABLED=0 go build -o /tmp/labeler github.com/ilyam8/periodic-pr-labeler/cmd/labeler
      - run: /tmp/labeler --help || true
      - store_artifacts:
          path: /tmp/labeler
  vet:
    docker:
      - image: circleci/golang:1.13
    steps:
      - checkout
      - restore_cache:
          keys:
            - go_mod-{{ checksum "go.mod" }}-{{ checksum "go.sum" }}
      - run: go vet ./...
  test:
    docker:
      - image: circleci/golang:1.13
    steps:
      - checkout
      - restore_cache:
          keys:
            - go_mod-{{ checksum "go.mod" }}-{{ checksum "go.sum" }}
      - run: go test ./... -race

workflows:
  version: 2
  build_and_test:
    jobs:
      - compile
      - vet:
          requires:
            - compile
      - test:
          requires:
            - compile
